pages:
  image: node:latest
  stage: deploy
  script:
  - npm ci
  - npm run docs:build
  - find public \( -name '*.html' -o -name '*.css' -o -name '*.js' -o -name '*.woff*' \) -print0 | xargs -0 gzip -9 -kv
  artifacts:
    paths:
    - public
  only:
  - master
