@import url("https://smc.org.in/fonts/manjari.css");

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue, Manjari, sans-serif;
}
